<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <main>
      <div class="jumbotron">
        <h1>SEE BRAND</h1>
        <p>For documentation head to this url below</p>
        <a href="/api/doc/v1">Documentation</a>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
